
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: rgba(134, 134, 134, 0.60);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.2s ease; /* Menambahkan transisi warna selama 0.3 detik dengan efek ease */
}

.navbar a:hover {
  color: #00715D;
}

.navbar .active a {
  color: #00715D;
}

.navbar .icon {
  position: absolute;
  top: 4%;
  right: 0;
  margin-right: 200px; /* Sesuaikan jarak dari tepi kanan sesuai keinginan Anda */
}

.navbar .icon:last-child {
  top: 3.1%;
  margin-right: 130px; /* Atur jarak yang lebih besar untuk ikon profil */
}

.leaf-kiri {
  margin-top: -80px;
}
img.daun-kirimg {
  max-width: 100%;
  height: auto;
}

.text-title {
  color: #000;
  font-family: Quicksand;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: -600px;
  left: -100px;
  max-width: 45%;
  margin: 0 auto;
  padding-bottom: 20px; /* Menambahkan padding bawah untuk memberikan jarak antara .text-title dan p */
}

.text-title .highlight {
  color: #00715D;
}

.text-title p {
  color: rgba(134, 134, 134, 0.60);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 80%;
}

.spacer {
  height: 20px; /* Sesuaikan tinggi spacer sesuai kebutuhan Anda */
}

.leaf-kanan {
  margin-left: 60%; /* Geser ke ujung kanan */
  margin-top: -1070px; /* Sesuaikan jarak dari atas sesuai keinginan Anda */
}

.order-button {
  display: inline-flex;
  align-items: center;
  background-color: #00715D;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #005346;
}

.arrow-icon {
  margin-left: 10px;
  display: inline-block;
}

.navmobile {
  display: none;
}

.daunterbang {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none; /* Menyembunyikan navbar pada layar kecil */
  }

  .navbar .icon {
    display: block; /* Menampilkan ikon pada layar kecil */
  }
  .leaf-kiri {
display: none;
  }
  .text-title {
    top: 80px;
    left: 10px;
    font-size: 35px;
    max-width: 85%;
  }
  .text-title p {
    font-size: 15px;
  }
  .leaf-kanan {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-left: 0;
    margin-top: 120px;
  }

  /* Sesuaikan ukuran gambar .daun-kaananimg */
  .leaf-kanan img.daun-kaananimg {
    max-width: none;
    width: 320px;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }

  .navmobile {
    display: block;
    margin-top: -780px; /* Sesuaikan nilai margin-top sesuai kebutuhan untuk menaikkan elemen */
    margin-left: 20px;
  }

  .order-button {
    padding: 8px 18px;
    font-size: 12px;
  }

  .daunterbang {
    display: block;
    margin-left: 3%;
    margin-top: -65px; /* Sesuaikan nilai margin-top sesuai kebutuhan */
  }

  /* Pemisahan properti untuk .daunterbang */
  .daunterbang img {
    max-width: none;
    width: 100%;
    height: auto;
  }
}